.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 4px;
}

.grid-item {
    aspect-ratio: 1;
    object-fit: cover;
}

.grid-item img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
}